name: Kanar Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Generate Wrapper
        run: gradle wrapper --gradle-version 8.11.1
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Kanar-Client
          path: build/libs/*.jar
